beautifulsoup4
blinker
bs4
certifi
charset-normalizer
click
colorama
distlib
filelock
Flask
idna
itsdangerous
Jinja2
lxml
MarkupSafe
Pillow
platformdirs
PyPDF2
requests
soupsieve
urllib3
virtualenv
virtualenv-clone
Werkzeug